{% extends "ROABundle::layoutAdmin.html.twig" %}

{% block stylesheets %} 
    {{ parent() }} 
    <link rel="stylesheet" href="{{ asset('bundles/ROA/css/admin.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/ROA/css/formulario.css') }}" />
{% endblock %}

{% block javascripts %} 
    {{ parent() }} 
    <script language="javascript" src="{{ asset('bundles/ROA/js/funciones.js') }}" type="text/javascript"></script>
    <script> 
      $(document).ready(function(){

        a_class = $('a#solicitudes').attr('class');
        $('a#solicitudes').attr('class', a_class+' active');
        a_class = $('a#OA').attr('class');
        $('a#OA').attr('class', a_class+' active');

        agregar_subcategorias();
      });
  </script> 
{% endblock %}

{% block content %}

    <div id="dialog-message-metadatos" title="metadatos" class="metadatos" style="width:900px">
    </div>

    {% if mensaje %}
        <div class="alert alert-info mensaje">{{ mensaje }}</div>
    {% endif %}

    <form id="OA_form" name="OA_form" action="{{ path('OA_update_admin', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>


        <h1>OACA: {{ entity.titulo }}</h1>

        <table class="table table-bordered table_admin">
        <tr>
            <td><p class="bold">Autor</p></td>
            <td><p>{{ entity.usuario.nombre }} {{ entity.usuario.apellido }}</p></td>
        </tr>
        <tr>
            <td><p class="bold">Titulo</p></td>
            <td><p>{{ entity.titulo }}</p></td>
        </tr>
        <tr>
            <td><p class="bold">Categoria</p></td>
            <td><p>{{ entity.area.subcategoria.nombre }}</p></td>
        </tr>
        <tr>
            <td><p class="bold">Area</p></td>
            <td><p>{{ entity.area.nombre }}</p></td>
        </tr>
        <tr>
            <td><p class="bold">Lenguaje</p></td>
            <td><p>{{ entity.general.lenguaje }}</p></td>
        </tr>
        <tr>
            <td><p class="bold">{{ form_label(edit_form.status) }}</p></td>
            <td><p>{{ form_widget(edit_form.status, { 'attr': {'class': 'select_form'}}) }}</p></td>
        </tr>
        <tr>
            <td><p class="bold">{{ form_label(edit_form.puntuacion) }}</p></td>
            <td><p>{{ form_widget(edit_form.puntuacion) }}</p></td>
            <div style="display:none">{{ form_rest(edit_form) }}</div>
        </tr>
        </table>

        <div class="ficha_descriptiva">
            <a class="link" id="metadatos" onclick="ajax('{{path('OA_metadatos', {'id': entity.id})}}', 'dialog-message-metadatos', 'openMessage_metadatos()', '')">Ver Ficha Descriptiva</a>
        </div>

        <div class="">
            <p>
                <a type="submit" class="btn_custom" onClick="javascript:OA_form.submit()">Editar</a>
            </p>
        </div>
        
    </form>

<ul class="record_actions">
    <li>
        <form action="{{ path('OA_delete_admin', { 'id': entity.id }) }}" method="post" id="form_delete_oa">
            {{ form_widget(delete_form) }}
            <a type="submit" class="btn_custom" onClick="eliminar('form_delete_oa')">Eliminar Objeto</a>
        </form>
    </li>
    <li>
        <a href="{{ path('OA_index_admin') }}" class="link">
            Volver a la lista
        </a>
    </li>
</ul>

<a href="mailto:{{entity.usuario.email}}" target="_blank"><img title="Enviar correo al usuario" height="50px" width="50px" src="{{asset('bundles/ROA/images/email.png')}}"></a>

<div id="dialog-confirm" title="Eliminar" style="display:none">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>&iquest;Seguro que desea eliminar este objeto?</p>
</div>

{% endblock content %}