{% extends "ROABundle::layout.html.twig" %}

{% block stylesheets %} 
    {{ parent() }} 
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    <script>
        $(document).ready(function(){
            a_class = $('a#inicio').attr('class');
            $('a#inicio').attr('class', a_class+' active');
        });
    </script> 
{% endblock %}

{% block content %}


<h1>{{ subcategoria.categoria.nombre }} - {{ subcategoria.nombre }}</h1>
<div>
    <p>{{ subcategoria.descripcion }}</p>
    <div class="content-left pagination-area">
        {% for area in subcategoria.areas %}
            {% if usuario.getWebPath() %}
                    <a href="{{path('OA_index', {'filtro':'area', 'id': area.id})}}"> <img src="{{ asset(area.getWebPath()) }}" class="imagen_area" /></a>
            {% else %}
                    <a href="{{path('OA_index', {'filtro':'area', 'id': area.id})}}"> <img src="{{ asset('bundles/ROA/images/user.png') }}" class="imagen_area"/></a>
                    <img src="{{ asset('bundles/ROA/images/user.png') }}" class="imagen_area"/>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}