<h1>Tu OACA ha sido eliminado</h1>

<p>Estimado(a) {{autor.nombre}} {{autor.apellido}}, tu OACA <b>{{objeto.titulo}}</b> ha sido eliminado debido a que no cumple con los requirimientos de calidad de ROACAR o viola alguna de las pol&iacute;ticas del repositorio. Te invitamos a revisar tu objeto y volver a publicarlo</p>

<h3>Informaci&oacute;n de tu OACA:</h3>

<p><b>Titulo:</b> {{ objeto.titulo }}</p>
<p><b>Categor&iacute;a:</b> {{ objeto.area.subcategoria.categoria.nombre }}</p>
<p><b>Subcategor&iacute;a:</b>{{ objeto.area.subcategoria.nombre }}</p>
<p><b>Área:</b>{{ objeto.area.nombre }}</p>
