{% extends "ROABundle::layoutAdmin.html.twig" %}

{% block stylesheets %} 
    {{ parent() }} 
    <link rel="stylesheet" href="{{ asset('bundles/ROA/css/usuario_create-update.css') }}" />
{% endblock %}

{% block javascripts %} 
    {{ parent() }} 
    <script>
        $(document).ready(function(){
            a_class = $('a#contenidos').attr('class');
            $('a#contenidos').attr('class', a_class+' active');
            a_class = $('a#categorias').attr('class');
            $('a#categorias').attr('class', a_class+' active');
        });
    </script>
{% endblock %}

{% block content %}


{% if mensaje %}
    <div class="alert alert-info mensaje">{{ mensaje }}</div>
{% endif %}

<h1>Categor&iacute;a: {{ entity.nombre }}</h1>

<p><b>Subcategor&iacute;as: </b></p>

<table class="table table-striped" width="500px">
    <thead>
    <tr>
        <th><p>Id</p></th>
        <th><p>Nombre</p></th>
    </tr>
    <thead>
    <tbody>
        {% for subcategoria in entity.subcategorias %}
            <tr>
                <td><p>{{ subcategoria.id }}</p></td>
                <td><p>{{ subcategoria.nombre }}</p></td>
            </tr>
        {% endfor %}
    </tbody>
</table>



<a href="{{ path('categoria_edit', { 'id': entity.id }) }}" class="btn_custom">
    Editar
</a>

<ul class="record_actions">
    <li>
        <form action="{{ path('categoria_delete', { 'id': entity.id }) }}" method="post" id="form_delete_categoria">
            {{ form_widget(delete_form) }}
            <!--<button type="submit">Delete</button>-->
            <a id="" type="submit" class="btn_custom" onClick="eliminar('form_delete_categoria')">Eliminar Categor&iacute;a</a>
        </form>
    </li>

    <li>
        <a href="{{ path('categoria') }}" class="link">
            Volver a la lista
        </a>
    </li>
</ul>

<div id="dialog-confirm" title="Eliminar" style="display:none">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>&iquest;Seguro que desea eliminar esta categoria?</p>
</div>


{% endblock %}





