{% extends "ROABundle::layoutAdmin.html.twig" %}

{% block stylesheets %} 
    {{ parent() }} 
    <link rel="stylesheet" href="{{ asset('bundles/ROA/css/admin.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/ROA/css/formulario.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/ROA/css/comentario.css') }}" />
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    <script>
        $(document).ready(function(){
            a_class = $('a#solicitudes').attr('class');
            $('a#solicitudes').attr('class', a_class+' active');
            a_class = $('a#comentarios').attr('class');
            $('a#comentarios').attr('class', a_class+' active');
        });
    </script>
{% endblock %}

{% block content %}

    {% if mensaje %}
        <div class="alert alert-info mensaje">{{ mensaje }}</div>
    {% endif %}

    <form id="form_comentario" name="form_comentario" action="{{ path('comentario_update_admin', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

        <h1>Comentario</h1>

        <table class="table table-bordered table_admin">
        <tr>
            <td><p class="bold">Usuario</p></td>
            <td><p>{{ entity.usuario.nombre }} {{ entity.usuario.apellido }}</p></td>
        </tr>
        <tr>
            <td><p class="bold">Objeto</p></td>
            <td><p>{{ entity.oa.titulo }}</p></td>
        </tr>
        <tr>
            <td><p class="bold">Autor</p></td>
            <td><p>{{ entity.oa.usuario.nombre }} {{ entity.oa.usuario.apellido }}</p></td>
        </tr>
        <tr>
            <td><p class="bold">Comentario</p></td>
            <td><p>{{ entity.descripcion }}</p></td>
        </tr>
        </table>

        <div class="formulario" id="status_comentario">
            {{ form_widget(edit_form.status, { 'attr': {'class': 'select_form'}}) }}
            <div style="display:none">{{ form_rest(edit_form) }}</div>
        </div>
        <p>
            <a type="submit" class="btn_custom" onClick="javascript:form_comentario.submit()">Editar</a>
        </p>

    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('comentario_index_admin') }}" class="link">
                Volver a la lista
            </a>
        </li>
    </ul>

{% endblock content %}